<header
  class="w-full flex items-center justify-end lg:justify-center min-h-[75px] lg:min-h-[100px] border-b border-white relative"
>
  <div class="w-[110px] lg:w-[130px] font-bold text-2xl lg:text-3xl absolute lg:top-3 top-1 left-5">
    <h1 class="text-white">Currency Rate</h1>
  </div>

  <div class="flex gap-[20px]">
    <div class="flex flex-col items-center font-medium">
      <span class="h-[30px] w-[30px]">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Flag_of_Europe.svg/2560px-Flag_of_Europe.svg.png"
          alt="eu"
        />
      </span>
      <span><i>BUY:</i> {{ euRateBuy }} UAH</span>
      <span><i>SELL:</i> {{ euRateSell }} UAH</span>
    </div>
    <div class="flex flex-col items-center font-medium">
      <span class="h-full w-[30px] translate-y-1">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Flag_of_the_United_States.svg"
          alt="usd"
        />
      </span>
      <span><i>BUY:</i> {{ usdRateBuy }} UAH</span>
      <span><i>SELL:</i> {{ usdRateSell }} UAH</span>
    </div>
  </div>
</header>
